/* Portfolio */

.portfolio {
    height: 864px;
    background-color: #2d303a;
}

.about-us {
    height: 728px;
    background-color: #f2f2f2;
}

.portfolio__header {
    padding-top: 67px;
    margin-left: 41px;
    font-size: 30px;
    line-height: 23px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.portfolio__description {
    margin-top: 31px;
    margin-left: 41px;
    font-size: 18px;
    line-height: 17px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
}

.portfolio__tags {
    width: 289px;
    margin-top: 17px;
    margin-left: 41px;
}

.portfolio__tags ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
}

.portfolio__tags ul li a {
    display: block;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    height: 22px;
    padding: 0 6px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    border-radius: 5px;
    border: 1px solid #666d89;
}


.portfolio__tags ul li a:hover {
    color: #dedede;
    border-color: #dedede;
}

.portfolio__content {
    margin-left: 40px;
    margin-top: 19px;
    height: 605px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 16px;
    justify-content: start;
    align-content: start;
    overflow: hidden;
}

.portfolio-bottom {
    height: 6px;
    background-color: #323746;
}